<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <php>
        <env name="API_KEY"
             value="sk_test_51QOLXm0285ow27MlL68fKJdvH1UJLL6ydS0vq8uZqS7GO7KCzyDagQrfknvVvGvsO7WszpvPXStwz9FqEZcP5unj00uDIUE0is"/>
    </php>
</phpunit>
